.box {
    display: none;
    .text {
        
        position: absolute;
        background-color: rgba(black, .6);
        transition: all .4s;
        padding: 20px 40px;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        box-shadow: 0px 0px 8px 4px rgba(grey,0.3);

        &.subtitle {
            top: 120px;
            left: 100px;
            transform: none;
        }
    }

    &--active {
        display: block;
    }
}