$borderSize: 3px;

.gallery {
    padding-top: 1px;
    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        width: calc(100% - #{$borderSize} - #{$borderSize});
        margin-left: -$borderSize;
        li {
            flex: 1;
            min-width: calc(100% - #{$borderSize} - #{$borderSize});
            border: 2px solid transparent;

            &.featured {
                min-width: calc(100% - #{$borderSize} - #{$borderSize});

                .media {
                    padding-top: 0;
                }
                img, video {
                    top: 0;
                    left: 0;
                    transform: none;
                    height: auto;
                    position: static;
                }
            }

            @include bp(small) {
                min-width: 30%;
            }
        }
    }
    
}