@font-face {
	font-family: "Sanford";
	src: url("/fonts/Sanford-0103_demo.ttf"), url("/black-book/fonts/Sanford-0103_demo.ttf") format("truetype");
	font-weight: normal;
	font-style: normal; }

body {
  margin: 0;
  font-family: 'Sanford', 'Times', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: black;

  padding: 10% 10%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.u-sr-only {
  border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}
